.home {
  padding-bottom: 3vh;
  background: linear-gradient(
                  rgba(242, 92, 84, .5),
                  rgba(242, 92, 84, .5)
  ),
  url(../assets/hero.jpg) repeat;
  background-size: cover;
}

.centerCircle {
  background: #FFD972 0 0 no-repeat padding-box;
  box-shadow: 0 10px 6px #00000029;
  width: 350px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 80%;
  font-size: 1em;

  h1 {
    font-family: 'Caveat', sans-serif;
    text-align: center;
    vertical-align: center;
    line-height: 10vh;
  }

  @media only screen and (max-width: 1024px) {
    h1 {
      margin-top: 15%;
    }
  }

  h4 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    vertical-align: center;
    width: 200px;
    margin: 0 auto;
  }
}

.offCenterCircle {
  background: #FCBCB8 0 0 no-repeat padding-box;
  box-shadow: 0 10px 6px #00000029;
  width: 160px;
  height: 160px;
  position: fixed;
  top: 35%;
  margin-left: 62%;
  transform: translate(-50%, -50%);
  border-radius: 80%;
  font-size: .6em;
  z-index: -999;

  h4 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    text-align: center;
    vertical-align: center;
    width: 75px;
    margin: 0 auto;
    margin-top: 35%;
  }
}

@media only screen and (max-width: 1200px) {
  .offCenterCircle {
    top: 30%;
    margin-left: 65%;
  }
}

//@media only screen and (max-width: 1500px) {
//  .offCenterCircle {
//    top: 32%;
//    left: 62%;
//  }
//}