.login {
  background-color: #FFD972;

  .loginFlexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    //background-color: grey;
    margin-top: 30vh;

    .loginHolder {
      //background-color: green;
      width: 25vw;

      h1 {
        font-family: 'Lato', sans-serif;
      }

      p {
        font-family: 'Lato', sans-serif;
        font-style: italic;
      }

      input {
        border: none;
        border-bottom: 3px solid #000;
        margin-bottom: 3vh;
        padding-top: 2%;
        background-color: #FFD972;
        width: 15vw;
      }

      .underline {
        border-bottom: 1px solid #000;
      }

      button {
        border: none;
        border-radius: 26px;
        background: #FFD972 0 0 no-repeat padding-box;
        box-shadow: 0 10px 6px #00000029;
        width: 8vw;
        height: 4vh;
        cursor: pointer;
        font-family: 'Caveat', sans-serif;
        font-size: 1.8vw;
      }
    }

    .loginHolder:first-child {
      margin-right: 15vw;
      //background-color: red;
    }
  }
}

::-webkit-input-placeholder {
  color:    black;
  font-size: 1vw;
  font-family: 'Lato', sans-serif;
}
:-moz-placeholder {
  color:    black;
  font-size: 1vw;
  font-family: 'Lato', sans-serif;
}
::-moz-placeholder {
  color:    black;
  font-size: 1vw;
  font-family: 'Lato', sans-serif;
}
:-ms-input-placeholder {
  color:    black;
  font-size: 1vw;
  font-family: 'Lato', sans-serif;
}